# **APRENDIZAGEM NÃO SUPERVISIONADA: ASSOCIAÇÃO**

Este projeto tem por objetivo desenvolver um algoritmo de Machine Learning para associar produtos de mercado.

Os dados foram extraídos do site do Kaggle:

https://www.kaggle.com/heeraldedhia/groceries-dataset

In [4]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
df = pd.read_csv('/content/drive/MyDrive/machine_learning/Groceries_dataset.csv',
                    sep=',', encoding='iso-8859-1')

In [7]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [8]:
df.shape

(38765, 3)

## **ANÁLISE, TRATAMENTO E PRÉ-PROCESSAMENTO DOS DADOS**

**Valores Missing (NAN)**

In [9]:
# RELAÇÃO DA QUANTIDADE
df.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

**Análise dos tipos de atributos.**

In [10]:
# object: strings
# int64: inteiros
# float64: reais
# complex: complexos
df.dtypes

Member_number       int64
Date               object
itemDescription    object
dtype: object

In [11]:
df["Date"]=pd.to_datetime(df["Date"])

In [12]:
df.dtypes

Member_number               int64
Date               datetime64[ns]
itemDescription            object
dtype: object

In [13]:
df["itemDescription"].value_counts().head(30)

whole milk               2502
other vegetables         1898
rolls/buns               1716
soda                     1514
yogurt                   1334
root vegetables          1071
tropical fruit           1032
bottled water             933
sausage                   924
citrus fruit              812
pastry                    785
pip fruit                 744
shopping bags             731
canned beer               717
bottled beer              687
whipped/sour cream        662
newspapers                596
frankfurter               580
brown bread               571
pork                      566
domestic eggs             566
butter                    534
fruit/vegetable juice     518
beef                      516
curd                      514
margarine                 491
coffee                    476
frozen vegetables         425
chicken                   422
white bread               362
Name: itemDescription, dtype: int64

In [14]:
df["Member_number"].value_counts().head(10)

3180    36
3737    33
3050    33
2051    33
2625    31
3915    31
2433    31
2271    31
3872    30
3289    29
Name: Member_number, dtype: int64

In [15]:
df.head()

   Member_number       Date   itemDescription
0           1808 2015-07-21    tropical fruit
1           2552 2015-05-01        whole milk
2           2300 2015-09-19         pip fruit
3           1187 2015-12-12  other vegetables
4           3037 2015-01-02        whole milk

In [16]:
df2 = df.groupby(['Member_number', 'itemDescription'])['itemDescription'].count().unstack().fillna(0).applymap(
    lambda x: 1 if x > 0 else 0)

In [17]:
df2

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Member_number,,,,,,,,,,,,,,,,,,,,,
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1001,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,1,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
5000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df2.iloc[0:12, 0:12]

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,beverages,bottled beer
Member_number,,,,,,,,,,,,
1000,0,0,0,0,0,0,0,0,0,0,0,0
1001,0,0,0,0,0,0,0,0,1,0,0,0
1002,0,0,0,0,0,0,0,0,0,0,0,0
1003,0,0,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,0,0
1005,0,0,0,0,0,0,0,0,0,0,0,0
1006,0,0,0,0,0,0,0,0,0,0,0,1
1008,0,0,0,0,0,0,0,0,0,0,0,0
1009,0,0,0,0,0,0,0,0,0,0,0,0
1010,0,1,0,0,0,0,0,0,0,0,0,0
1011,0,0,0,0,0,0,0,0,0,0,0,0
1012,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
df2.shape

(3898, 167)

## **APRIORI**

In [20]:
from mlxtend.frequent_patterns import apriori, association_rules

In [21]:
# Gerando a associação
associacao = apriori(df2, min_support=0.05, use_colnames=True)

In [22]:
# Colocando em ordem dos mais frequentes
associacao.sort_values("support", ascending=False).head(10)

      support                        itemsets
55   0.458184                    (whole milk)
37   0.376603              (other vegetables)
41   0.349666                    (rolls/buns)
47   0.313494                          (soda)
56   0.282966                        (yogurt)
51   0.233710                (tropical fruit)
42   0.230631               (root vegetables)
5    0.213699                 (bottled water)
44   0.206003                       (sausage)
116  0.191380  (other vegetables, whole milk)

In [23]:
# Criando as regras de associação
regras = association_rules(associacao, metric="lift")

In [24]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("support", ascending=False)

In [25]:
resultado.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
118,(other vegetables),(whole milk),0.376603,0.458184,0.191380,0.508174,1.109106,0.018827,1.101643
119,(whole milk),(other vegetables),0.458184,0.376603,0.191380,0.417693,1.109106,0.018827,1.070564
152,(rolls/buns),(whole milk),0.349666,0.458184,0.178553,0.510638,1.114484,0.018342,1.107190
153,(whole milk),(rolls/buns),0.458184,0.349666,0.178553,0.389698,1.114484,0.018342,1.065592
182,(soda),(whole milk),0.313494,0.458184,0.151103,0.481997,1.051973,0.007465,1.045971
183,(whole milk),(soda),0.458184,0.313494,0.151103,0.329787,1.051973,0.007465,1.024310
193,(whole milk),(yogurt),0.458184,0.282966,0.150590,0.328667,1.161510,0.020940,1.068076
192,(yogurt),(whole milk),0.282966,0.458184,0.150590,0.532185,1.161510,0.020940,1.158185
105,(other vegetables),(rolls/buns),0.376603,0.349666,0.146742,0.389646,1.114335,0.015056,1.065502
104,(rolls/buns),(other vegetables),0.349666,0.376603,0.146742,0.419663,1.114335,0.015056,1.074197
113,(other vegetables),(soda),0.376603,0.313494,0.124166,0.329700,1.051695,0.006103,1.024178
112,(soda),(other vegetables),0.313494,0.376603,0.124166,0.396072,1.051695,0.006103,1.032237
121,(other vegetables),(yogurt),0.376603,0.282966,0.120318,0.319482,1.129050,0.013752,1.053660
120,(yogurt),(other vegetables),0.282966,0.376603,0.120318,0.425204,1.129050,0.013752,1.084553
146,(rolls/buns),(soda),0.349666,0.313494,0.119805,0.342627,1.092928,0.010187,1.044316
147,(soda),(rolls/buns),0.313494,0.349666,0.119805,0.382160,1.092928,0.010187,1.052593
187,(tropical fruit),(whole milk),0.233710,0.458184,0.116470,0.498353,1.087672,0.009388,1.080076
186,(whole milk),(tropical fruit),0.458184,0.233710,0.116470,0.254199,1.087672,0.009388,1.027473
163,(root vegetables),(whole milk),0.230631,0.458184,0.113135,0.490545,1.070630,0.007464,1.063522
162,(whole milk),(root vegetables),0.458184,0.230631,0.113135,0.246920,1.070630,0.007464,1.021630